.matrix{
		display: grid;
	  grid-template-columns: auto auto auto auto auto auto auto auto auto;
	  grid-gap: 1px;
	  background-color: black;
	  padding: 1px;
	  width: 500px;
	  text-align: center;
}

.matrix > div {
	background-color: white;
	  text-align: center;
	  padding: 10px 0;
	  font-size: 20px;
}

.year {
  grid-area: 1 / 1 / span 1 / span 9;
}